## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
print(app_train.index)

RangeIndex(start=0, stop=307511, step=1)

#### 列出所有欄位

In [5]:
print(app_train.columns)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [9]:
print(app_train[['SK_ID_CURR','AMT_INCOME_TOTAL']])

        SK_ID_CURR  AMT_INCOME_TOTAL
0           100002        202500.000
1           100003        270000.000
2           100004         67500.000
3           100006        135000.000
4           100007        121500.000
5           100008         99000.000
6           100009        171000.000
7           100010        360000.000
8           100011        112500.000
9           100012        135000.000
10          100014        112500.000
11          100015         38419.155
12          100016         67500.000
13          100017        225000.000
14          100018        189000.000
15          100019        157500.000
16          100020        108000.000
17          100021         81000.000
18          100022        112500.000
19          100023         90000.000
20          100024        135000.000
21          100025        202500.000
22          100026        450000.000
23          100027         83250.000
24          100029        135000.000
25          100030         90000.000
26          100031        112500.000
27          100032        112500.000
28          100033        270000.000
29          100034         90000.000
...            ...               ...
307481      456225        225000.000
307482      456226        225000.000
307483      456227         99000.000
307484      456228        540000.000
307485      456229        270000.000
307486      456230        292500.000
307487      456231        117000.000
307488      456232        157500.000
307489      456233        225000.000
307490      456234         81000.000
307491      456235         90000.000
307492      456236        585000.000
307493      456237        135000.000
307494      456238        270000.000
307495      456239        180000.000
307496      456240        360000.000
307497      456241        180000.000
307498      456242        198000.000
307499      456243         81000.000
307500      456244        261000.000
307501      456245         81000.000
307502      456246         94500.000
307503      456247        112500.000
307504      456248        153000.000
307505      456249        112500.000
307506      456251        157500.000
307507      456252         72000.000
307508      456253        153000.000
307509      456254        171000.000
307510      456255        157500.000

[307511 rows x 2 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子